@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --yellow:#FAF565;
    --black:#050505fa;
    --grey: #7a7979;
    --light-grey: #cfcfcf;
    --css-dark-blue: #3667ae;
    --css-light-blue: #2aa6dc;
    --html-dark-orange: #f1672b;
    --html-light-orange: #f37646;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

.display {
    display: flex;
}

.none {
    display: none;
}

/* HEADER */

.header__container {
    background-color: var(--yellow);
    padding: 22px;
    display: flex;
    box-shadow: 0px 0px 5px var(--grey);
    height: 63px;
}

#javascript-icon {
    width: 50px;
    position: absolute;
    border-radius: 50px;
    top: 0;
    margin-top: 8px;
}

li {
   list-style: none; 
}

.header__container a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    margin-right: 50px;
    padding-bottom: 6px;
}

.header__container a:hover {
    border-bottom: 2px solid black;
}

.header__container .link-derecha {
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.bi-list {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 12px;
    display: none;
}

#menu-logo {
    margin-right: 30px;
}

.flags {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flags__item {
    width: 50px;
    padding: 3px;
    transition: 0.5s ease-in-out;
    background-position: 100% 0;

}

.flags img {
    display: block;
    cursor: pointer;
}

.selected {
    background-color: var(--css-dark-blue);
    background-position: 0 0;
}

/* Menu responsive */

.navbar-menu__container {
    display: inline-block;
    flex-direction: column;
    background-color: var(--html-light-orange);
    width: 100vw;
    height: 300px;
    position: absolute;
    text-decoration: none;
    font-size: 3rem;
    margin-right: 50px;
    padding-bottom: 6px;
    top: 63px;
    position: fixed;
}

.bi-x-circle {
    position: absolute;
    right: 0;
    padding: 12px 30px 0px 0px;
}

.movement {
    left: 0;
}

.navbar-menu__container a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    flex-direction: column;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: var(--black);
}

.navbar-menu__container a:hover {
    background-color: var(--yellow);
}

.links {
    display: inline-block;
    flex-direction: column;
}

/* HOME */

.home__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    margin: 100px;
}

.button {
    background-color: var(--yellow);
    padding: 15px 25px 15px 25px;
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home__container h1 {
    font-size: 3.5rem;
    line-height: 5.2rem;
    letter-spacing: 2px;
}

.home__container .andy {
    color: black;
    background-color: var(--yellow);
}

.bi {
    font-size: 4rem;
    margin-right: 30px;
    color: var(--black);
}

.bi:hover {
    color: var(--html-light-orange);
    border-radius: 10px;
    cursor: pointer;
}

.portrait__container {
    display: flex;
    justify-content: flex-end;
}

.portrait__container img {
    border-radius: 500px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 130px 120px 0px 0px;
    width: 400px;
    box-shadow: 0px 4px 10px;
}

.portrait__container-mobile {
    display: none;
}

.portrait__container-mobile img {
    border-radius: 500px;
    height: 300px;
    margin: 10px 0px 10px 0px;
}

/* About Me */

.sobre__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre__container h1 {
    margin-bottom: 30px;
    font-size: 3.5rem;
    border-bottom: 3px solid var(--css-light-blue);
    padding-bottom: 12px;
}

.content-box {
    background-color: var(--html-dark-orange);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 4px 25px #bcbcbc;
}

.content-box span {
    font-size: 2.5rem;
    color: var(--yellow);
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Proyectos */

.proyectos__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos__container h1 {
    margin: 70px 0px 50px 0px;
    font-size: 3.5rem;
    border-bottom: 3px solid var(--css-light-blue);
    padding-bottom: 12px;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    gap: 100px;

    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 4px 25px #bcbcbc;
    border-radius: 5px;
}

.box {
    width: 300px;
    height: 250px;
    box-shadow: 0px 4px 25px #bcbcbc;
    overflow: hidden;
    text-align: center; 
    border-radius: 10px;   
    background-color: var(--css-dark-blue);
    overflow: hidden;
    max-width: 100%;
}

.box img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
}

.box img:hover {
    transform: scale(1.1);
}

.box h2 {
    display: inline-block;
    padding: 18px;
    color: white;
}

.links-container .bi{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    margin-right: 0px;
    margin: 0px 10px 0px 10px;
    font-size: 3rem;
    color: white;
}

.links-container .bi:hover {
    color: var(--black);
}

#github-logito {
    padding-bottom: 5px;
}

/* Habilidades */

.habilidades__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap; 
    justify-content: center;
    flex-wrap: wrap;
}

.tecnologias__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.frameworks__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.habilidades__container h1 {
    padding: 20px;
    font-size: 3.5rem;
    border-bottom: 3px solid var(--css-light-blue);
}

.habilidades__container h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 45px;
    color: var(--css-dark-blue);
    width: 100%;
    display: block;
    clear: both;
}

.habilidades__container p {
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 2.4rem;
    color: inherit;
}

.habilidades__container img{
    width: 100px;
    margin: 30px 60px 0px 60px;
    transition: transform 0.3s;
    height: auto;
    justify-content: center;
    align-items: center;
}

.habilidades__container img:hover {
    transform: scale(1.2);
}

#linux {
    width: 75px;
}

/* Contacto */

.contacto__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}

.contacto__container h1 {
    padding: 20px;
    font-size: 3.5rem;
    border-bottom: 3px solid var(--css-light-blue);
}

.contacto-box {
    box-shadow: 0px 4px 25px #bcbcbc;
    margin: 40px;
    padding: 30px;
    border-radius: 5px;
}

.contacto-box p{
    font-size: 1.6rem;
    padding: 10px;
}

.contacto-box i{
    font-size: 2rem;
}

.contacto-box .links{
    font-size: 3rem;
    margin: 15px 15px 0px 15px;
}

.contacto-box .links:hover {
    color: var(--css-dark-blue);
}

.nohover:hover {
    cursor:default;
    color: var(--black);
}

/* Footer */


.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--yellow);
    height: 5vh;
    width: 100%;
    box-shadow: 0px 0px 5px var(--grey);
}

.footer__container a {
    font-size: 1.6rem;
    color: var(--black);
    text-decoration: none;
}

.footer__container i {
    font-size: 1.5rem;
    margin: 5px;
}

.footer__container i:hover {
    color: inherit;
}


@media only screen and (max-width: 950px) {
    .portrait__container img {
        display: none;
    }

    .portrait__container-mobile {
        display: flex;
    }

    .home__container {
        align-items: center;
    }

    .home__container .bi {
        font-size: 3rem;
    }

    .link-derecha {
        display: none;
    }
    
    .bi-list {
        display: block;
    }

    .bi {
        margin-right: 0px;
    }

    .grid-layout {
        grid-template-columns: auto;
        box-shadow: none;
    }

    .habilidades__container img{
        width: 90px;
        margin: 2px;
        justify-content: center;
    }

    .contacto__container .bi {
        margin-right: 0px;
        flex-direction: row;
        align-items: center;
    }

}


@media only screen and (min-width: 1200px) {
    .content-box {
        margin: 30px 400px 0px 400px;
        line-height: 30px;
        font-size: 2.2rem;
    }
}