@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --yellow:#FAF565;
    --black:#050505fa;
    --grey: #7a7979;
    --css-dark-blue: #3667ae;
    --css-light-blue: #2aa6dc;
    --html-dark-orange: #f1672b;
    --html-light-orange: #f37646;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}

.display {
    display: flex;
}

.none {
    display: none;
}

/* HEADER */

.header__container {
    background-color: var(--yellow);
    padding: 22px;
    display: flex;
    box-shadow: 0px 0px 5px var(--grey);
}

li {
   list-style: none; 
}

.header__container a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    margin-right: 50px;
    padding-bottom: 6px;
}

.header__container a:hover {
    border-bottom: 2px solid black;
}

.header__container .link-derecha {
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.bi-list {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 12px;
    display: none;
}

#menu-logo {
    margin-right: 30px;
}

/* Menu responsive */

.navbar-menu__container {
    display: inline-block;
    flex-direction: column;
    background-color: var(--grey);
    width: 100vw;
    height: 100%;
    position: absolute;
    
    text-decoration: none;
    color: black;
    font-size: 4rem;
    margin-right: 50px;
    padding-bottom: 6px;
    left: -200px;
    transition: left 0.3s ease-in-out;
}

.movement {
    left: 0;
}

.navbar-menu__container a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    flex-direction: column;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

.navbar-menu__container a:hover {
    background-color: var(--yellow);
}

.links {
    display: inline-block;
    flex-direction: column;
}

/* HOME */

.home__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 900px;
    margin: 100px;
}

.button {
    background-color: var(--yellow);
    padding: 15px 25px 15px 25px;
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home__container h1 {
    font-size: 3.5rem;
    line-height: 5.2rem;
    letter-spacing: 2px;
}

.home__container .andy {
    color: black;
    background-color: var(--yellow);
}

.bi {
    font-size: 4rem;
    margin-right: 30px;
    color: var(--black);
}

.bi:hover {
    color: var(--html-light-orange);
    border-radius: 10px;
    cursor: pointer;
}

.portrait__container {
    display: flex;
    justify-content: flex-end;
}

.portrait__container img {
    border-radius: 500px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 130px 120px 0px 0px;
    width: 400px;
    box-shadow: 0px 0px 4px var(--black);
}

@media only screen and (max-width: 950px) {
    .portrait__container img {
        display: none;
    }

    .home__container {
        align-items: center;
    }

    .link-derecha {
        display: none;
    }
    
    .bi-list {
        display: block;
    }

    .bi {
        margin-right: 0px;
    }
}
